/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container{
    margin: 50px auto;
    width: 500px;
}
.active {
    color: rgb(154, 205, 50) !important;
}

.error {
    color: red;
}

.info {
    color: green;
}